
# Ignore Everything
*

# Except these files
!.gitignore
!.bashrc
!.vimrc
!.xinitrc
!.zshrc
!.config/alacritty/alacritty.yml
!.config/mpv/mpv.conf
!.config/aliasrc
!.config/nvim/init.vim
!.vim/colors/monokai.vim
!.local/bin/bin/*
